<h2>User</h2>

<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>

<%= link_to 'Edit', edit_user_path %>

<h3>Projects</h3>
<%= link_to 'Add', new_user_project_path(@user) %>
<ul>
  <% @user.projects.each do |project| %>
    <li>
      <p>
        <%= project.title %> - <%= link_to 'View', project_path(project) %>
      </p>
      <p>
        <%= project.description %>
      </p>
    </li>
  <% end %>
</ul>
