<h1>User</h1>

<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>

<% @user.projects.each do |p| %>
  <h3><%= link_to p.title, project_path(p) %></h3>
  <p><%= p.description %></p>
<% end %>
